* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: lightyellow;
}
.main {
  height: 50px;
  margin: 20px auto;
  padding: 25px 20px 40px 20px;
  align-items: center;
  line-height: 1.6;
  border: 2px solid black;
  background-color: #223777;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  box-shadow: 10px 10px 8px 3px gray;
}
#title {
  color: gold;
  text-shadow: 4px 4px 8px red;
  font-size: 50px;
  font-weight: bold;
}
.main p {
  color: seashell;
  font-size: 20px;
  font-weight: bold;
}
article {
  text-align: justify;
  line-height: 2;
  margin: 10px 20px 10px 20px;
  font-weight: bold;
}

#image {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  box-shadow: 10px 10px 8px 3px gray;
}
#img-caption {
  text-align: center;
  font-weight: bold;
  line-height: 5;
}
#tribute-info {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 100px 20px 100px;
  padding: 10px 50px;
  line-height: 2;
  background-color: lightgray;
  font-weight: bold;
}
h2 {
  color: maroon;
}
h3 {
  color: blue;
}
footer {
  text-align: center;
}
